.prezzy-item-wrapper{
    background-position:center center;
    background-repeat:no-repeat;
}

.prezzy-frame_1{
    background-image:url('framepourri.png');
}

.prezzy-frame_2{
    background-image:url('frame2.png');
}

.prezzy-frame_3{
    background-image:url('framelame.png');
}
.prezzy-frame_4{
    background-image:url('framemedium.png');
}
.prezzy-frame_5{
    background-image:url('framegold.png');
}

.prezzy-item {
    width: 60px;
    height: 60px;
    background-image:url('css_sprites.png');
}
.prezzy-item_1_ {background-position:  -830px -10px;}
.prezzy-item_2_ {background-position:  -830px -90px;}
.prezzy-item_3_ {background-position:  -830px -170px;}
.prezzy-item_4_ {background-position:  -830px -250px;}
.prezzy-item_5_ {background-position:  -830px -330px;}
.prezzy-item_6_ {background-position:  -830px -410px;}
.prezzy-item_7_ {background-position:  -830px -490px;}
.prezzy-item_8_ {background-position:  -830px -570px;}
.prezzy-item_9_ {background-position:  -830px -650px;}
.prezzy-item_10_ {background-position:  -830px -730px;}
.prezzy-item_11_ {background-position:  -10px -830px;}
.prezzy-item_12_ {background-position:  -90px -830px;}
.prezzy-item_13_ {background-position:  -170px -830px;}
.prezzy-item_14_ {background-position:  -250px -830px;}
.prezzy-item_15_ {background-position:  -330px -830px;}
.prezzy-item_16_ {background-position:  -410px -830px;}
.prezzy-item_17_ {background-position:  -490px -830px;}
.prezzy-item_19_ {background-position:  -570px -830px;}
.prezzy-item_20_ {background-position:  -650px -830px;}
.prezzy-item_21_ {background-position:  -730px -830px;}
.prezzy-item_18_ {background-position:  -810px -830px;}
.prezzy-item_22_ {background-position:  -910px -10px;}
.prezzy-item_24_ {background-position:  -910px -90px;}
.prezzy-item_23_ {background-position:  -910px -170px;}
.prezzy-item_25_ {background-position:  -910px -250px;}
.prezzy-item_26_ {background-position:  -910px -330px;}
.prezzy-item_27_ {background-position:  -910px -410px;}
.prezzy-item_29_ {background-position:  -910px -490px;}
.prezzy-item_28_ {background-position:  -910px -570px;}
.prezzy-item_30_ {background-position:  -910px -650px;}
.prezzy-item_31_ {background-position:  -910px -730px;}
.prezzy-item_32_ {background-position:  -910px -810px;}
.prezzy-item_33_ {background-position:  -10px -910px;}
.prezzy-item_34_ {background-position:  -90px -910px;}
.prezzy-item_35_ {background-position:  -170px -910px;}
.prezzy-item_36_ {background-position:  -250px -910px;}
.prezzy-item_37_ {background-position:  -330px -910px;}
.prezzy-item_38_ {background-position:  -410px -910px;}
.prezzy-item_39_ {background-position:  -490px -910px;}
.prezzy-item_40_ {background-position:  -570px -910px;}
.prezzy-item_41_ {background-position:  -650px -910px;}
.prezzy-item_42_ {background-position:  -730px -910px;}
.prezzy-item_43_ {background-position:  -810px -910px;}
.prezzy-item_44_ {background-position:  -890px -910px;}
.prezzy-item_45_ {background-position:  -990px -10px;}
.prezzy-item_46_ {background-position:  -990px -90px;}
.prezzy-item_47_ {background-position:  -990px -170px;}
.prezzy-item_48_ {background-position:  -990px -250px;}
.prezzy-item_49_ {background-position:  -990px -330px;}
.prezzy-item_50_ {background-position:  -990px -410px;}
.prezzy-item_51_ {background-position:  -990px -490px;}
.prezzy-item_52_ {background-position:  -990px -570px;}
.prezzy-item_53_ {background-position:  -990px -650px;}
.prezzy-item_55_ {background-position:  -990px -730px;}
.prezzy-item_54_ {background-position:  -990px -810px;}
.prezzy-item_57_ {background-position:  -990px -890px;}
.prezzy-item_58_ {background-position:  -10px -990px;}
.prezzy-item_59_ {background-position:  -90px -990px;}
.prezzy-item_60_ {background-position:  -170px -990px;}
.prezzy-item_61_ {background-position:  -250px -990px;}
.prezzy-item_56_ {background-position:  -330px -990px;}
.prezzy-item_62_ {background-position:  -410px -990px;}
.prezzy-item_63_ {background-position:  -490px -990px;}
.prezzy-item_64_ {background-position:  -570px -990px;}
.prezzy-item_65_ {background-position:  -650px -990px;}
.prezzy-item_66_ {background-position:  -730px -990px;}
.prezzy-item_67_ {background-position:  -810px -990px;}
.prezzy-item_68_ {background-position:  -890px -990px;}
.prezzy-item_69_ {background-position:  -970px -990px;}
.prezzy-item_70_ {background-position:  -1070px -10px;}
.prezzy-item_71_ {background-position:  -1070px -90px;}
.prezzy-item_72_ {background-position:  -1070px -170px;}
.prezzy-item_73_ {background-position:  -1070px -250px;}
.prezzy-item_74_ {background-position:  -1070px -330px;}
.prezzy-item_75_ {background-position:  -1070px -410px;}
.prezzy-item_76_ {background-position:  -1070px -490px;}
.prezzy-item_77_ {background-position:  -1070px -570px;}
.prezzy-item_78_ {background-position:  -1070px -650px;}
.prezzy-item_79_ {background-position:  -1070px -730px;}
.prezzy-item_80_ {background-position:  -1070px -810px;}
.prezzy-item_81_ {background-position:  -1070px -890px;}
.prezzy-item_82_ {background-position:  -1070px -970px;}
.prezzy-item_83_ {background-position:  -10px -1070px;}
.prezzy-item_85_ {background-position:  -90px -1070px;}
.prezzy-item_84_ {background-position:  -170px -1070px;}
.prezzy-item_86_ {background-position:  -250px -1070px;}
.prezzy-item_87_ {background-position:  -330px -1070px;}
.prezzy-item_88_ {background-position:  -410px -1070px;}
.prezzy-item_89_ {background-position:  -490px -1070px;}
.prezzy-item_90_ {background-position:  -570px -1070px;}
.prezzy-item_91_ {background-position:  -650px -1070px;}
.prezzy-item_92_ {background-position:  -730px -1070px;}
.prezzy-item_93_ {background-position:  -810px -1070px;}
.prezzy-item_94_ {background-position:  -890px -1070px;}
.prezzy-item_95_ {background-position:  -970px -1070px;}
.prezzy-item_96_ {background-position:  -1050px -1070px;}
.prezzy-item_97_ {background-position:  -1150px -10px;}
.prezzy-item_98_ {background-position:  -1150px -90px;}
.prezzy-item_99_ {background-position:  -1150px -170px;}
.prezzy-item_100_ {background-position:  -1150px -250px;}
