.prezzy-item-wrapper{
    background-position:center center;
    background-repeat:no-repeat;
}

.prezzy-frame_1{
    background-image:url('framepourri.png');
}

.prezzy-frame_2{
    background-image:url('frame2.png');
}

.prezzy-frame_3{
    background-image:url('framelame.png');
}
.prezzy-frame_4{
    background-image:url('framemedium.png');
}
.prezzy-frame_5{
    background-image:url('framegold.png');
}

.prezzy-item {
    width: 60px;
    height: 60px;
    background-image:url('css_sprites.png');
}
.prezzy-item_1{background-position:  -830px -10px;}
.prezzy-item_2{background-position:  -830px -90px;}
.prezzy-item_3{background-position:  -830px -170px;}
.prezzy-item_4{background-position:  -830px -250px;}
.prezzy-item_5{background-position:  -830px -330px;}
.prezzy-item_6{background-position:  -830px -410px;}
.prezzy-item_7{background-position:  -830px -490px;}
.prezzy-item_8{background-position:  -830px -570px;}
.prezzy-item_9{background-position:  -830px -650px;}
.prezzy-item_10{background-position:  -830px -730px;}
.prezzy-item_11{background-position:  -10px -830px;}
.prezzy-item_12{background-position:  -90px -830px;}
.prezzy-item_13{background-position:  -170px -830px;}
.prezzy-item_14{background-position:  -250px -830px;}
.prezzy-item_15{background-position:  -330px -830px;}
.prezzy-item_16{background-position:  -410px -830px;}
.prezzy-item_17{background-position:  -490px -830px;}
.prezzy-item_19{background-position:  -570px -830px;}
.prezzy-item_20{background-position:  -650px -830px;}
.prezzy-item_21{background-position:  -730px -830px;}
.prezzy-item_18{background-position:  -810px -830px;}
.prezzy-item_22{background-position:  -910px -10px;}
.prezzy-item_24{background-position:  -910px -90px;}
.prezzy-item_23{background-position:  -910px -170px;}
.prezzy-item_25{background-position:  -910px -250px;}
.prezzy-item_26{background-position:  -910px -330px;}
.prezzy-item_27{background-position:  -910px -410px;}
.prezzy-item_29{background-position:  -910px -490px;}
.prezzy-item_28{background-position:  -910px -570px;}
.prezzy-item_30{background-position:  -910px -650px;}
.prezzy-item_31{background-position:  -910px -730px;}
.prezzy-item_32{background-position:  -910px -810px;}
.prezzy-item_33{background-position:  -10px -910px;}
.prezzy-item_34{background-position:  -90px -910px;}
.prezzy-item_35{background-position:  -170px -910px;}
.prezzy-item_36{background-position:  -250px -910px;}
.prezzy-item_37{background-position:  -330px -910px;}
.prezzy-item_38{background-position:  -410px -910px;}
.prezzy-item_39{background-position:  -490px -910px;}
.prezzy-item_40{background-position:  -570px -910px;}
.prezzy-item_41{background-position:  -650px -910px;}
.prezzy-item_42{background-position:  -730px -910px;}
.prezzy-item_43{background-position:  -810px -910px;}
.prezzy-item_44{background-position:  -890px -910px;}
.prezzy-item_45{background-position:  -990px -10px;}
.prezzy-item_46{background-position:  -990px -90px;}
.prezzy-item_47{background-position:  -990px -170px;}
.prezzy-item_48{background-position:  -990px -250px;}
.prezzy-item_49{background-position:  -990px -330px;}
.prezzy-item_50{background-position:  -990px -410px;}
.prezzy-item_51{background-position:  -990px -490px;}
.prezzy-item_52{background-position:  -990px -570px;}
.prezzy-item_53{background-position:  -990px -650px;}
.prezzy-item_55{background-position:  -990px -730px;}
.prezzy-item_54{background-position:  -990px -810px;}
.prezzy-item_57{background-position:  -990px -890px;}
.prezzy-item_58{background-position:  -10px -990px;}
.prezzy-item_59{background-position:  -90px -990px;}
.prezzy-item_60{background-position:  -170px -990px;}
.prezzy-item_61{background-position:  -250px -990px;}
.prezzy-item_56{background-position:  -330px -990px;}
.prezzy-item_62{background-position:  -410px -990px;}
.prezzy-item_63{background-position:  -490px -990px;}
.prezzy-item_64{background-position:  -570px -990px;}
.prezzy-item_65{background-position:  -650px -990px;}
.prezzy-item_66{background-position:  -730px -990px;}
.prezzy-item_67{background-position:  -810px -990px;}
.prezzy-item_68{background-position:  -890px -990px;}
.prezzy-item_69{background-position:  -970px -990px;}
.prezzy-item_70{background-position:  -1070px -10px;}
.prezzy-item_71{background-position:  -1070px -90px;}
.prezzy-item_72{background-position:  -1070px -170px;}
.prezzy-item_73{background-position:  -1070px -250px;}
.prezzy-item_74{background-position:  -1070px -330px;}
.prezzy-item_75{background-position:  -1070px -410px;}
.prezzy-item_76{background-position:  -1070px -490px;}
.prezzy-item_77{background-position:  -1070px -570px;}
.prezzy-item_78{background-position:  -1070px -650px;}
.prezzy-item_79{background-position:  -1070px -730px;}
.prezzy-item_80{background-position:  -1070px -810px;}
.prezzy-item_81{background-position:  -1070px -890px;}
.prezzy-item_82{background-position:  -1070px -970px;}
.prezzy-item_83{background-position:  -10px -1070px;}
.prezzy-item_85{background-position:  -90px -1070px;}
.prezzy-item_84{background-position:  -170px -1070px;}
.prezzy-item_86{background-position:  -250px -1070px;}
.prezzy-item_87{background-position:  -330px -1070px;}
.prezzy-item_88{background-position:  -410px -1070px;}
.prezzy-item_89{background-position:  -490px -1070px;}
.prezzy-item_90{background-position:  -570px -1070px;}
.prezzy-item_91{background-position:  -650px -1070px;}
.prezzy-item_92{background-position:  -730px -1070px;}
.prezzy-item_93{background-position:  -810px -1070px;}
.prezzy-item_94{background-position:  -890px -1070px;}
.prezzy-item_95{background-position:  -970px -1070px;}
.prezzy-item_96{background-position:  -1050px -1070px;}
.prezzy-item_97{background-position:  -1150px -10px;}
.prezzy-item_98{background-position:  -1150px -90px;}
.prezzy-item_99{background-position:  -1150px -170px;}
.prezzy-item_100{background-position:  -1150px -250px;}
